<div class="title-page">
  Que voulez-vous faire ?
</div>
<div class="box-wrapper">
  <div class="box" (click)="openCreateOptions()">
    <div class="title">
        CREATION
    </div>
    <div class="subtitle">
        des joueurs, arbitres, courts
    </div>
  </div>
  <div class="box">
    <div class="title">
        MODIFICATION
    </div>
    <div class="subtitle">
        des joueurs, arbitres, courts
    </div>
  </div>
  <div class="box">
    <div class="title">
        PLANIFICATION
    </div>
    <div class="subtitle">
        des matchs
    </div>
  </div>
  <div class="box subscribe">
    <div class="title">
        ENREGISTREMENT
    </div>
    <div class="subtitle">
        des résultats
    </div>
  </div>
</div>
<app-modal [(show)]="showCreateModal" [items]="optionList" (selectedItem)="goToCreate($event)"></app-modal>
