<h1>
  Création d'un joueur
</h1>
<div class="box">
  <div class="column">
      <div class="formgroup">
          <div class="label">
          Nom
          </div>
          <input type="text" placeholder="nom">
      </div>

      <div class="formgroup">
          <div class="label">
          Nationalité
          </div>
          <input type="text" placeholder="nationalité">
      </div>
  </div>
  <div class="column">
      <div class="formgroup">
          <div class="label">
          Prénom
          </div>
          <input type="text" placeholder="prenom">
      </div>
      <select id="select">
          <option value="m" selected>Masculin</option>
          <option value="f">Féminin</option>
        </select>
  </div>
  <button class="send">Enregistrer</button>
</div>
