<h1 class="title">
  Création d'un joueur
</h1>
<div class="box">
  <div class="form">
    <div class="column">
        <div class="formgroup">
            <div class="label">
            NOM
            </div>
            <input type="text" placeholder="Nom">
        </div>

        <div class="formgroup">
            <div class="label">
            NATIONALITÉ
            </div>
            <input type="text" placeholder="Nationalité">
        </div>
    </div>
    <div class="column">
        <div class="formgroup">
            <div class="label">
            PRÉNOM
            </div>
            <input type="text" placeholder="Prénom">
        </div>
        <div class="formgroup">
            <div class="label">
            SEXE
            </div>
        <app-select></app-select>
        </div>
    </div>
  </div>
  <button class="send">ENREGISTRER</button>
</div>
